<div class="ui right vertical sidebar menu">
    <!--
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>
    -->

    <a class="item" href="/">
    <i class="home icon"></i>
    Home
    </a>

    <a class="item" href="/alphabet/">
    <i class="font icon"></i>
    Alphabet Learning
    </a>

    <a class="item" href="/blog/">
    <i class="comments icon"></i>
    Blog
    </a>
  
</div>
